<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>

{% include header.html
header_to_download = "去GitHub仓库"
header_about = "关于作者"
header_paper = "论文"
header_home = "首页"
%}

<!--<b>这句话来自文件 about.html 部署时注释此处</b>-->
{% include about.html
about_img_url = "assets/img/class/class7.jpg"
content = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis et lorem sit amet vehicula. Etiam vel nibh nec nisi euismod mollis ultrices condimentum velit.
Proin velit libero, interdum ac rhoncus sit amet, pellentesque ac turpis. Quisque ac luctus turpis,
vel efficitur ante. Cras convallis risus vel vehicula dapibus. Donec eget neque fringilla, faucibus mi quis,
porttitor magna. Cras pellentesque leo est, et luctus neque rutrum eu. Aliquam consequat velit sed sem posuere,
vitae sollicitudin mi consequat. Mauris eget ipsum sed dui rutrum fringilla. Donec varius vehicula magna sit amet auctor.
Ut congue vehicula lectus in blandit. Vivamus suscipit eleifend turpis, nec sodales sem vulputate a. Curabitur pulvinar libero viverra,
efficitur odio eu, finibus justo. Etiam eu vehicula felis."

%}

{% include footer.html
one_url = "https://zafu.edu.cn"
one_url_name = "浙江农民大学"
two_url = "https://163.com"
two_url_name = "网易"
%}
</body>
</html>