<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<!--<script src="https://cdn.tailwindcss.com"></script>-->
<link rel="stylesheet" href="assets/css/tailwind.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ site.title }} - {{ page.title }}</title>
<!--<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">-->
<body>
{% include header.html %}

<!--<b>这句话来自文件 default.html 部署时注释此处</b>-->
{% include exhibition.html %}

{% include footer.html %}

</body>
